/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

pre {
    white-space:pre-wrap;
}

#ab_modal {
    display:none;
    position:fixed;
    align-items:center;
    justify-content:center;
    left:0;
    top:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    min-height:100%;
    background-color:black;
    cursor:pointer;
    user-select:none;
}

#modal_cont {
    padding:20px;
    border:1px solid black;
    background-color:rgba(0, 0, 0, 1);
    color : white;
    width:400px;
}
